@import './components';

#settings {
  height: 100vh;

  .panel-container {
    .settings-main-card {
      width: 100%;  

      .p-card-body {
        height: 100%;
        padding: 1em;
        overflow: scroll;
        
        .p-card-caption {
          display: none;
        }

        .p-card-content {
          height: 100%;
          display: flex;
          flex-direction: column;

          .settings-main-card-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1rem;
            overflow: scroll;
            
            .settings-card {
              border: none;
              border-radius: $small-border-radius;
            }

            &:has(.grided-content) {
              border: 1px solid $p-card-border;
              border-radius: $small-border-radius;
            }

            > * {
              transition: opacity 0.3s ease-in-out;
              animation: fade-in 0.3s ease-in-out;
            }

            .grided-content,
            .modules-settings-detail-card,
            .settings-card {
              transition: opacity 0.3s ease-in-out;
              animation: fade-in 0.3s ease-in-out;
            }
          }

          .settings-main-card-content .grided-content {
            display: flex;
            flex-direction: column;
            width: 100%;

            .settings-card {
              border-radius: 0;
            } 
          }
        }
      }
    }
  }

  @media (min-width: $md) {
    .panel-container {
      height: 100%;

      .settings-main-card {
        height: 100%;

        .p-card-body {
          .p-card-content {
            display: flex;
            flex-direction: row;
          }
        }
      }
    }
  }
}

$items: (
  'modules',
  'theme',
);

@each $item in $items {
  ##{$item} {
    .general-menu-tree,
    .staff-menu-tree {
      a[href="##{$item}"] {
        color: var(--main-item-color-new) !important;
      }
    }
  }
}


.settings-card-divider {
  width: 100%;
  margin: 0;
  border: none;
  border-top: 1px solid $p-card-border;
}