.settings-card.settings-small-card {
  height: 100%;
  padding: 1.5em;

  .p-card-body {
    padding: 0 !important;

    .p-card-content {
      display: grid !important;
    }
  }
  
  .refresh-button {
    width: 32px;
    height: 32px;
    padding: 0.15em;

    span {
      margin-top: -2px;
      font-size: 1.5em;
    }
  }

  h4 {
    margin: 0;
  }

  hr {
    margin: 1em 0;
  }

  .p-colorpicker-preview {
    max-width: 22px;
    max-height: 22px;
    padding: 0;
  }

  .settings-card-header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  .settings-card-item-list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    gap: 0.65em;
    margin: 0;

    .settings-card-item {
      display: flex;
      justify-content: space-between;
      padding-right: 3px;
    }
  }

  .p-colorpicker-panel,
  .p-colorpicker-content {
    background: white;
    border: 1px whitesmoke;
    box-shadow: $card-box-shadow;
  }

  .p-selectbutton {
    .p-togglebutton {
      font-size: 10px;
      padding: 5px 10px;
    }
  }
}