.menu-tree-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.general-menu-tree,
.staff-menu-tree {
  * {
    font-family: Inter, sans-serif !important;
  }

  h4 {
    height: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .75em;
    font-size: $font-size-sm;
    font-weight: 300;
  }

  .p-tree {
    background-color: transparent;
    padding: 0;

    &-node-toggle-button {
      display: none;
    }

    &-root {
      &-children {
        border-top: 1px solid $p-card-border;
        margin-top: .5em;
        padding-top: 1em;
        padding-right: 3em;

        > .p-tree-node {
          margin-bottom: 1em;

          .p-tree-node-label {
            white-space: nowrap;

            * {
              font-size: $font-size-sm;
            }

            a {
              text-decoration: none;
              color: $white-text-color;

              &:focus,
              &:hover {
                color: var(--main-item-hover-color-new);
              }
            }
          }
        }
      }
    }
  }
}

